:root {
     font-size: 62.5%; 
--background-color: #251F24;
--background-content: #3A3539;

--title-color: white;
--content-color: #A5A3A5;

}

body {
    background-color: var(--background-color);
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
}

h1 {
    font-size: 6.4rem;
    font-weight: 700;
}

h1::before {
    content: '-';
}

h1::after {
    content: '-';
}

h3::before {
    content: counter(titleList, decimal);
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--content-color);
}

.hero {
                    /* Angulo 0 a 365deg | color  | Donde termina | color | termina segundo color */
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    width: 100%;
    height: 350px;
}
/* Header section */
details summary {
    color: var(--title-color);
}

nav a {
    color: var(--content-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--title-color);
    text-decoration: underline;
    cursor: pointer;
}